@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .no-appearance{
        -webkit-appearance:none;
        /* appearance:none; */
    }
    .transition-webkit{
        -webkit-transition: 0.2s;
        /* transition:0.2s; */
    }
    .range-slider::-webkit-slider-thumb {
        -webkit-appearance: none;
        width: 15px;
        height: 15px;
        background: #8300D4;
        border-radius: 50%;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    }
      .kanit-medium {
        font-family: "Kanit", sans-serif;
        font-weight: 500;
        font-style: normal;
      }
    .bg-red2-500{
        --tw-bg-opacity: 1 !important;
        background-color: rgb(239 68 68 / var(--tw-bg-opacity)) !important;
    }
    .translateX_-20px{
        transform:translateX(-20px)
    }
}